stages:
  - test
  - build
  - package
  - publish

test:
  stage: test
  image: python:3.11-slim
  script:
    - pip install .[dev]
    - pytest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

build:
  stage: build
  image: python:3.11-slim
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/

build-packages:
  stage: package
  image: python:3.11-slim
  before_script:
    - apt-get update && apt-get install -y curl
    - >
      curl -sfL https://github.com/goreleaser/nfpm/releases/download/v2.41.1/nfpm_2.41.1_linux_amd64.tar.gz
      | tar -xz -C /usr/local/bin nfpm
    - pip install build
  script:
    - bash packaging/build-packages.sh
  artifacts:
    paths:
      - dist/*.deb
      - dist/*.rpm
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  needs:
    - build

publish-testpypi:
  stage: publish
  image: python:3.11-slim
  script:
    - pip install twine
    - twine upload --repository-url https://test.pypi.org/legacy/ dist/*.whl dist/*.tar.gz
  variables:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $TESTPYPI_TOKEN
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  needs:
    - build

publish-pypi:
  stage: publish
  image: python:3.11-slim
  script:
    - pip install twine
    - twine upload dist/*.whl dist/*.tar.gz
  variables:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $PYPI_TOKEN
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
      when: manual
  needs:
    - build

publish-packages:
  stage: publish
  image: curlimages/curl:latest
  script:
    - |
      for f in dist/*.deb dist/*.rpm; do
        [ -f "$f" ] || continue
        echo "Uploading $(basename "$f")..."
        curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
             --upload-file "$f" \
             "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/zpbs-backup/${CI_COMMIT_TAG}/$(basename "$f")"
      done
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  needs:
    - build-packages

create-release:
  stage: publish
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
    - VERSION="${CI_COMMIT_TAG#v}"
    - PKG_URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/zpbs-backup/${CI_COMMIT_TAG}"
    - |
      release-cli create \
        --name "zpbs-backup ${CI_COMMIT_TAG}" \
        --tag-name "${CI_COMMIT_TAG}" \
        --description "Release ${CI_COMMIT_TAG}" \
        --assets-link "{\"name\":\"zpbs-backup_${VERSION}_amd64.deb\",\"url\":\"${PKG_URL}/zpbs-backup_${VERSION}_amd64.deb\",\"link_type\":\"package\"}" \
        --assets-link "{\"name\":\"zpbs-backup_${VERSION}_arm64.deb\",\"url\":\"${PKG_URL}/zpbs-backup_${VERSION}_arm64.deb\",\"link_type\":\"package\"}" \
        --assets-link "{\"name\":\"zpbs-backup-${VERSION}.x86_64.rpm\",\"url\":\"${PKG_URL}/zpbs-backup-${VERSION}.x86_64.rpm\",\"link_type\":\"package\"}" \
        --assets-link "{\"name\":\"zpbs-backup-${VERSION}.aarch64.rpm\",\"url\":\"${PKG_URL}/zpbs-backup-${VERSION}.aarch64.rpm\",\"link_type\":\"package\"}"
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  needs:
    - publish-packages
